<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1></h1>
    <form action="/ejercicio1" method="get">
    <button id="ejercicio1" type="submit">Ejercicio 1</button>
    </form>
    <form action="/ejercicio2" method="get">
    <button id="ejercicio2" type="submit">Ejercicio 2</button>
    </form>
</body>
</html>
